
:host {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 14px;
color: #333;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 8px 0;
}

p {
margin: 0;
}

.content {
display: flex;
margin: 32px auto;
padding: 0 16px;
max-width: 960px;
flex-direction: column;
align-items: center;
}

svg.material-icons {
height: 24px;
width: auto;
}

svg.material-icons:not(:last-child) {
margin-right: 8px;
}

.card svg.material-icons path {
fill: #888;
}

.card-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 16px;
}

.card {
border-radius: 4px;
border: 1px solid #eee;
background-color: #fafafa;
height: 40px;
width: 200px;
margin: 0 8px 16px;
padding: 16px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
transition: all 0.2s ease-in-out;
line-height: 24px;
}




svg#clouds {
position: fixed;
bottom: -160px;
left: -230px;
z-index: -10;
width: 1920px;
}


.maincard{
    margin-top: 5%;
    background: rgba(255, 0, 0, 0.103);
    height: 400px;
    width: 640px;
    padding-top: 20px;
    
}

.genes{
    position: relative;
    left: 45%;
    margin: 10px;
    display: inline-block;

}

.bot{
    display: inline-block;
    margin-left: 190px;
    width: 7vw;
}

.inputs{
    display: inline-block;
}

.resp{
    position: relative;
    font-size: 400%;
    font: xx-large;
    color: red;
}

#falso{
    margin-left: 140px;
    margin-top: 200px;
}

#verdadero{
    margin-left: 150px;
    margin-top: 10px;
}

#generadoresDisplay{
    background: rgba(0, 0, 0, 0.486);
    color: white;
    height: 180px;
    padding: 20px;
}

ul{
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
}
}

@media screen and (max-width: 575px) {
svg#rocket-smoke {
    display: none;
    visibility: hidden;
}
}